.container {
  text-align: center;
}

#board {
  width: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.cell {
  border: 1px solid black;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.message {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}